
{% extends 'base.html' %} 
{% load static %}

{% block content %} 
    {% include 'navbar.html' %}
    <center>
    <div class="play-area">
        <div class="play-info">
            <div>Level <span id="level-num">{{level.level_number}}</span>: </div>
            <div class="play-title">{{level.level_title}}</div>
        </div>

        <div class="play-text-container">
            <div class="play-text" id="play-text">
                {% for letter in level.level_text %}
                <div class="letter">{{letter}}</div>
                {% endfor %}
            </div>
        </div>

        <div class="play-stats">
            <div class="play-speed">
                <div>Speed (WPM): </div>
                <div class="play-data" id="speed">0</div>
            </div> 
            <div class="play-accuracy">
                <div>Accuracy (%): </div>
                <div class="play-data" id="accuracy">0</div>
            </div> 
            <div class="play-focus">
                <div>Focus: </div>
                <div class="play-data" id="focus">100</div>
            </div> 
        </div>
    </div>

    <form method="POST" action="{% url 'play' level.level_number %}" id="play-form"> 
        {% csrf_token %}
        {{ form.as_p }}
    </post>
    
    </center>
{% endblock %}


{% block js_block %}
    <script src="{% static 'js/play.js' %}"></script>
{% endblock %}
