{% extends 'base.html' %} 
{% load static %}

{% block content %} 
{% include 'navbar.html' %}

<div class="recap-container">
    <div class="recap-box">
        <h1>Level {{level.level_number}}: {{level.level_title}}</h1>
        <p>Score: {{score}}</p>
        <p>Speed: {{speed}} wpm</p>
        <p>Accuracy: {{accuracy}}%</p>
        <p>Focus: {{focus}}%</p>
        {% if saved %}
            <p class="high-score">Congratulations! This is your new high score!</p>
        {% endif %}
        <div class="recap-buttons">
            <a  class="try-again btn btn-secondary" href="{% url 'play' level.level_number%}"> Try Again</a>
            {% if next_level %}
                <a  class="next-level btn btn-secondary" href="{% url 'play' next_level.level_number%}">Next Level</a>
            {% endif %}
        </div>
        {% if not logged_in %}
            <p>
                <a href="{% url 'register' %}">Sign up</a> 
                or 
                <a href="{% url 'login' %}">Login</a>  
                to save your progress!
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}