{% extends 'base.html' %} 
{% block content %}

	{% include 'navbar.html' %}

	<div class="container">
		<br><br><br>

		<div class="row row-cols-1 row-cols-md-4 g-4">
			{% for record in records %}
				<div class="col">
					<a href="{% url 'play' record.level.level_number %}" class="text-decoration-none">
						<div class="card text-bg-secondary mb-3 h-100">
							<div class="card-header bg-secondary text-light"> 
								{{record.level.level_number}}) {{record.level.level_title}}
							</div>
							<div class="card-body bg-light text-secondary">
								{% if record.record %}
									<div id="card-score" class="card-text">Score: {{ record.record.score }}</div>
									<div class="card-text">Speed: {{ record.record.speed }} wpm</div>
									<div class="card-text">Accuracy: {{ record.record.accuracy }}%</div>
								{% else %}
									<div class="card-text">Click to play level</div>
								{% endif %}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
