
html,
body {
	height: 100vh;
	background-color: rgb(214, 214, 214);
	font-size: 16px;
}

nav {
	height: 55px;
}

.play-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	height: calc(100vh - 55px - 20px);
	width: 80%;
	background-color: white;
	max-width: 700px;
	margin: 10px;
	border-radius: 10px;
}

.play-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: 1px solid red; */
}

.play-title {
	font-size: 2em;
}

.play-text-container {
	height: 100%;
	max-height: 400px;
	min-height:8em;
	background-color: #f2f2f2;
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.play-text {
	display: flex;
	/* border: 1px solid green; */
	font-family: monospace;
	font-size: 2em;
	margin-left: calc(50% - 0.5em);
	transition: 0.2s;
}

.letter {
	border-bottom: 1px solid black;
	position: relative;
	min-width: 1em;
	max-width: 1em;
	border-radius: 5px;
	transition: 0.2s;
	background-color: white;
}

.letter::after {
	display: inherit;
	content: var(--content, '');
	opacity: var(--letter_opacity, 0);
	background-color: sandybrown;
	min-width: inherit;
	max-width: inherit;
	height: inherit;
	align-items: inherit;
	justify-content: inherit;
	border-radius: inherit;
	padding: inherit;
	transition: inherit;
	position: absolute;
	left: 0;
	top: 0;
}

.play-stats {
	display: flex;
	justify-content: space-around;
	/* border: 1px solid blue; */
}

.play-data {
	font-size: 2em;
}

.play-info, .play-stats {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
	margin: 10px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 10px;
}
